div.a {
    text-align: center;
    /* background-color: #f1f1f1; */
}
.auto-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
  }

  .Typeahead {
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: rgb(133, 13, 13);
}

.typeahead:focus {
  border: 2px solid #0097cf;
}
