/* style
{
  box-sizing: border-box;
}



body {
  font-family: Arial, Helvetica, sans-serif;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  margin-left:10%;
  margin-right:10%;
}

div.a {
  text-align: center;
} */
.box10 {
  background-color: #74c2dae8;
  border-radius: 10px 10px 10px 10px;
  overflow: hidden;
  margin-left: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: 1%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
  padding-top: 2%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  /* height: 200px; */
  min-height: 45vh;
  max-height: 45vh;
  -webkit-box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.3);
}
.box9 {
  background-color: #74c2dae8;
  border-radius: 10px 10px 10px 10px;
  overflow: hidden;
  margin-left: 10%;
  margin-top: 0%;
  margin-bottom: 1%;
  /* margin-right: 1%; */
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 20%;
  padding-top: 10%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  /* height: 200px; */
  max-height: 150vh;
  -webkit-box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.3);
}

.box {
  margin: 20px;
}

.grid {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.grid10 {
  margin:10%;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.grid > div {
  flex-basis: calc(30% - 40px);
}
.grid10 > div {
  flex-basis: calc(70% - 40px);
}

.boxy {
  width: 300px;
  background: green;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
}
.boxy:hover {
  animation: boxyRotation 4s infinite linear;
}

@keyframes boxyRotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.black-background {
  background-color: red !important;
  font-size: 5vh;
  border-radius: 10px 10px 10px 10px;
}